<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TurfScore</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TurfScore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<!-- GENERATED_ALTERNATE_ICONS_START -->
	<key>CFBundleIcons</key>
	<dict><key>CFBundleAlternateIcons</key><dict>
		<key>Jersey1</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey1</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey2</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey2</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey3</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey3</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey4</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey4</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey5</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey5</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey6</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey6</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey7</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey7</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey8</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey8</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey9</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey9</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey10</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey10</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey11</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey11</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey12</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey12</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey13</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey13</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey14</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey14</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey15</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey15</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey16</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey16</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey17</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey17</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey18</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey18</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey19</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey19</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey20</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey20</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey21</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey21</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey22</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey22</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey23</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey23</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey24</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey24</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey25</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey25</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey26</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey26</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey27</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey27</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey28</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey28</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey29</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey29</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey30</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey30</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey31</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey31</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey32</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey32</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey33</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey33</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey34</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey34</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey35</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey35</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey36</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey36</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey37</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey37</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey38</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey38</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey39</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey39</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey40</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey40</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey41</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey41</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey42</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey42</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey43</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey43</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey44</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey44</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey45</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey45</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey46</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey46</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey47</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey47</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey48</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey48</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey49</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey49</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey50</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey50</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey51</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey51</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey52</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey52</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey53</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey53</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey54</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey54</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey55</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey55</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey56</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey56</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey57</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey57</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey58</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey58</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey59</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey59</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey60</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey60</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey61</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey61</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey62</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey62</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey63</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey63</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey64</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey64</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey65</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey65</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey66</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey66</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey67</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey67</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey68</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey68</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey69</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey69</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey70</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey70</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey71</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey71</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey72</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey72</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey73</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey73</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey74</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey74</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey75</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey75</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey76</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey76</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey77</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey77</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey78</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey78</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey79</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey79</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey80</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey80</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey81</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey81</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey82</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey82</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey83</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey83</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey84</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey84</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey85</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey85</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey86</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey86</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey87</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey87</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey88</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey88</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey89</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey89</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey90</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey90</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey91</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey91</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey92</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey92</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey93</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey93</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey94</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey94</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey95</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey95</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey96</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey96</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey97</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey97</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey98</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey98</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
		<key>Jersey99</key><dict>
			<key>CFBundleIconFiles</key><array><string>Jersey99</string></array>
			<key>UIPrerenderedIcon</key><false/>
		</dict>
	</dict></dict>
<!-- GENERATED_ALTERNATE_ICONS_END -->
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
